/* Site Wide to go with new header */
body#home {
/* 	font-family: 'Futura'; */
}
.Content.Widest.Two#LayoutColumn1 {
	top: inherit;
}
.Left.fleft {
	padding-right: 54px;
}
.green {
	color: #39b54a;
}
.lightgreen {
	color: #6ADA78;
}
/* caret arrow down up */
.fa-caret-up:before {
	content: "\f0d8";
}
.fa-caret-down:before {
	content: "\f0d7";
}
/* mobile */
.fa-mobile-phone:before, .fa-mobile:before {
  content: "\f10b";
}
/* envelope */
.fa-envelope:before {
	content: "\f0e0";
}
/* home */
.fa-home:before {
	content: "\f015";
}



/* Category list improvements */
#biosnippet {
	display: none;
}
.page .main {
	margin-top: 20px;
}
.page .main .inner .Left.fleft {
/* 	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 4px 8px 0 rgba(0,0,0,0.2); */
	border: 2px solid #eaeaea;
	padding: 0 15px;
	margin: 0 30px 0 0;
	width: 200px;
}
.page .main .inner .Left #SideCategoryList .treeview li {
	margin: 0;
	border: 0;
}
.page .main .inner .Left #SideCategoryList .treeview li a {
/* 	padding: 7px 0px; */
	border-bottom: 0;
}



/* New Header */
.header {
/* 	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 4px 8px 0 rgba(0,0,0,0.2); */
/*
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
*/
}


/* Top Header - top section of three section header */
.header .TopMenu {
	background-color: #fff;
	border-top: 0; 
	border-bottom: 3px solid #eeeeee;
	color: #666;
}
.header .TopMenu .inner {
	padding: 0;
	line-height: 30px;
}
.header .TopMenu .inner #loginContainer {
	float: left;
}
.header .TopMenu .inner #loginContainer #loginGreeting #loginGreetingName {
	font-weight: 600;
}
.header .TopMenu .inner #loginContainer #loginGreeting a {
	color: #39B54A;
}
.header .TopMenu .inner #loginContainer #loginGreeting a:hover {
	color: #666;
}
.header .TopMenu .inner #newTopMenu {
	color: #777;
	position: relative;
	padding-right: 50px;
	overflow: visible;
}
.header .TopMenu .inner #newTopMenu > li {
	line-height: 30px;
}
.header .TopMenu .inner #newTopMenu li a {
	color:#777;
}
.header .TopMenu .inner #newTopMenu li a:hover {
	color:#39b54a
}
.header .TopMenu .inner #newTopMenu #helpMenuTrigger {
	line-height: 30px;
	box-sizing: border-box;
	position: absolute;
	z-index: 106;
	cursor: default;
}
.header .TopMenu .inner #newTopMenu #helpMenuTrigger.open {
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
	box-shadow: 2px -4px 4px 3px rgba(0,0,0,0.1);
	color: #39B54A;
	z-index: 999 !important;
	line-height: 28px !important;
	padding: 0 9px !important;
}
/*
.header .TopMenu .inner #newTopMenu li#helpMenuTrigger:hover {
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
	box-shadow: 2px -1px 2px 0 rgba(0,0,0,0.1);
	z-index: 999;
}
*/
.header .TopMenu .inner #newTopMenu #helpMenu {
	border: solid 1px #999;
	background-color: #fff;
	box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
	position: absolute;
	top: 28px;
	z-index:101;
	padding: 4px 4px 13px;
	right: -2px;
	display: none;
}
.header .TopMenu .inner #newTopMenu #helpMenu ul {
	position: static;
	float: none;
	overflow: visible;
}
/*
.header .TopMenu .inner #newTopMenu #helpMenuTrigger:hover #helpMenu {
	display: block;
}
*/
.header .TopMenu .inner #newTopMenu #helpMenu li {
	display: block;
	text-align: center;
	padding: 7px 10px;
	font-size: 15px;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .customerService {
	text-transform: uppercase;
	cursor: default;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .fa-mobile {
	font-size: 28px;
	line-height: 20px;
	vertical-align: middle;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .phoneNumber {
	vertical-align: middle;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .btn {
	height:auto;
	padding: 6px;
	color:#fff;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .btn:hover {
	color:#39b54a;
}





/* Main Header - middle section of three section header */
.header #Header {
	margin: 10px 0;
}
.header #Header .header-logo {
	height: auto;
}
.header #Header .header-logo a img {
	width: 50px;
	height: 50px;
}
.header #Header .header-logo-text {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 4px;
}
.header #Header #LayoutColumn1 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.header #Header .headerSearchContainer {
	overflow: auto;
	width: 65%;
/* 	margin: 0 auto 0 0; */
	margin-right: 1%;
}
.header #Header .headerSearchContainer #SearchForm {
	float: left;
	display: block;
	width: 100%;
	margin: 3px auto;
	border: 2px solid #39B54A;
	border-radius: 3px;
	min-height: 40px;
	/* margin-left: 130px; */
	box-sizing: border-box;
}
.header #Header .headerSearchContainer #SearchForm form {
	
}
.header #Header .headerSearchContainer #SearchForm input.Textbox#search_query {
	float: none;
	height: auto;
	line-height: 3;
	line-height: 38px;
	font-size: 17px;
	width: 80%;
}
.header #Header .headerSearchContainer #SearchForm .Button {
	float: right;
	height: 40px;
	color: #fff;
	background-color: #39B54A;
	width: 40px;
}
.header #Header .headerSearchContainer #SearchForm .Button:hover {
	background-color: #666;
}
.header #Header .search-mobile #SearchForm input.Textbox#search_query {
	float: right;
}
.header #Header .search-mobile #SearchForm .Button {
	float: left;
}
body table#QuickSearch.QuickSearch {
	left: 37% !important;
}
.header #Header .inner #myAccountTrigger {
	display: block;
	font-size: 13px;
/*
	position: absolute;
	top: 4px;
	right: 160px;
*/
/* 	padding: 10px 10px 10px 14px; */
/* 	padding: 1px; */
	min-width: 122px;
/* 	margin: 0 9%; */
	margin: 0 auto;
	position: relative;
	border: 1px solid transparent;
	border-width: 1px 1px 0 1px;
}
.header #Header .inner #myAccountTrigger .myAccountHi {
	font-size: 12px;
}
.header #Header .inner #myAccountTrigger .myAccountMyDS {
	font-weight: 600;
}
.header #Header .inner #myAccountTrigger .myAccountMyDS .fa-caret.down {
	color: #111 !important;
}
.header #Header .inner #myAccountTrigger #myAccountTriggerLink {
	display: block;
	padding: 10px 10px 10px 14px;
	z-index: 100;
	position: relative;
	background-color: #fff;
}
.header #Header .inner #myAccountTrigger.open {
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	box-shadow: 4px -1px 4px -1px rgba(0,0,0,0.1);
	color: #39B54A;
	z-index: 999 !important;
/* 	padding: 9px 9px 10px 13px !important; */
/* 	padding: 0; */
}
.header #Header .inner #myAccountDDMenu {
	border: solid 1px #999;
	background-color: #fff;
	box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
	position: absolute;
	top: 50px;
	z-index: 99;
/* 	padding: 10px 13px; */
	right: -1px;
	font-size: 15px;
	display: none; 
}
.header #Header .inner #myAccountDDMenu ul {
	margin:0;
}
.header #Header .inner #myAccountDDMenu ul li {
	display: block;
	text-align: left;
/* 	height: 27px; */
	line-height: 27px;
	width: 200px;
}
.header #Header .inner #myAccountDDMenu ul li:first-child a {
	padding-top:10px;
}
.header #Header .inner #myAccountDDMenu ul li:last-child a {
	padding-bottom:10px;
}
.header #Header .inner #myAccountDDMenu ul li a {
	width: 100%;
	display: block;
	padding: 0 20px;
	box-sizing: border-box;
}
.header #Header .inner .header-secondary {
	top: 0;
	position: relative;
/* 	margin: 0 0 0 auto; */
	margin-left: 1%;
}





/* SubHeader Header - bottom section of three section header */
.header #subHeader {
	background-color: #666;
}
.header #subHeader .inner {
	margin: 0 auto;
	width: 90%;	
	max-width: 1200px;
}
.header #subHeader .inner {
	color: #fff;
	display: table;
}
.header #subHeader .inner .shopByContainer {
/*
	float: left;
	display: table-cell;
*/
	vertical-align: middle;
	height: 40px;
	padding: 0 121px 0 68px;
}
.header #subHeader .inner .shopByContainer i {
	padding: 5px;
}
.header #subHeader .inner .PageMenu ul {
	margin:0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.header #subHeader .inner .PageMenu ul li {
	flex: 1;
	-webkit-box-flex: 1; 
       -moz-box-flex: 1; 
        -webkit-flex: 1; 
            -ms-flex: 1;   
}
.header #subHeader .inner .PageMenu ul li#headerPipesUnder100Link, 
.header #subHeader .inner .PageMenu ul li#headerFeeStuffLink {
	display: none;
}
.header #subHeader .inner .PageMenu ul li a {
/* 	font-family: 'Futura'; */
	text-transform: none;
	line-height: 40px;
	color: #eaeaea;
	display: block;
	padding: 0 !important;
	text-align: center;
}
.header #subHeader .inner .PageMenu ul li:hover {
	background-color: #333;
}
.header #subHeader .inner .PageMenu ul li:hover a {
	color: #fff;
}
#headerShippingReturnsLink {
	display: none;
}
.header #subHeader .inner .freeShippingContainer {
/* 	float: right; */
	display: table-cell;
	vertical-align: middle;
	height: 40px;
/* 	width: 24%; */
}
.header #subHeader .inner .freeShippingContainer a {
	display: block;
	height: 40px;
}
/*
.freeShippingTruck {
	background-image: url('%%ASSET_images/freeshippingtruck.png%%');
	background-position: center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}
*/
.header #subHeader .inner .freeShippingContainer .freeShippingText {
	float: right;
	margin: 0 10px 0 0;
	font-style: italic;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	display: inline-block;
	font-family: "Futura";
	color: #fff;
	transition: all 0.27s ease;
}
.header #subHeader .inner .freeShippingContainer .freeShippingTruck {
	background-image: url('//cdn3.bigcommerce.com/s-mixi7d/templates/__custom/images/freeshippingtruck.png?t=1429230948');
	background-position: center;
	background-size: 41px 20px;
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	float: right;
	-moz-transform: scaleX(-1) skewX(33deg);
	-o-transform: scaleX(-1) skewX(33deg);
	-webkit-transform: scaleX(-1) skewX(33deg);
	transform: scaleX(-1) skewX(33deg);
	filter: FlipH;
	-ms-filter: "FlipH";
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=-0.6494075931975105, M21=0, M22=1, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(
	        M11=-1,
	        M12=-0.6494075931975105,
	        M21=0,
	        M22=1,
	        SizingMethod='auto expand');
	vertical-align: middle;
}
.header #subHeader .inner .freeShippingContainer .shippingLines {
	content: "";
	height: 40px;
	width: 40px;
	line-height: 40px;
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin: 0px 4px;
	transition: all 0.27s ease;
}
.header #subHeader .inner .freeShippingContainer .shippingLines:before {
	content: "";
	display: block;
	height: 1px;
	width: 30px;
	background: #777;
	position: relative;
	top: 17px;
	left: 8px;
}
.header #subHeader .inner .freeShippingContainer .shippingLines:after {
	content: "";
	display: block;
	height: 1px;
	width: 35px;
	background: #777;
	position: relative;
	top: -20px;
	left: -1px;
}
.header #subHeader .inner .freeShippingContainer .shippingLines span {
	content: "";
	height: 1px;
	line-height: 40px;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	background: #eaeaea;
	position: relative;
	top: -3px;
	left: 10px;
	transition: all 0.27s ease;
}
.header #subHeader .inner .freeShippingContainer .shippingLines span:before {
	content: "";
	height: 1px;
	line-height: 40px;
	display: block;
	vertical-align: middle;
	width: 25px;
	background: #eaeaea;
	position: relative;
	top: -5px;
	left: 9px;
}
.header #subHeader .inner .freeShippingContainer .shippingLines span:after {
	content: "";
	height: 1px;
	line-height: 40px;
	display: block;
	vertical-align: middle;
	width: 35px;
	background: #eaeaea;
	position: relative;
	top: 3px;
	left: -8px;
}
.header #subHeader .inner .freeShippingContainer:hover .freeShippingText {
	color: #6ADA78;
}
/*
.header #subHeader .inner .freeShippingContainer:hover .shippingLines:before {
	top: 23px;
}
.header #subHeader .inner .freeShippingContainer:hover .shippingLines span {
	top: -8px;
}
.header #subHeader .inner .freeShippingContainer:hover .shippingLines span:before {
	top: 3px;
}
.header #subHeader .inner .freeShippingContainer:hover .shippingLines span:after {
	top: 4px;
}
.header #subHeader .inner .freeShippingContainer:hover .shippingLines:after {
	top: -24px;
}
*/




@media screen and (max-width: 480px) {
/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
		position: absolute;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
@media screen and (max-width: 767px) {
/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
		position: absolute;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
@media screen and (max-width: 768px) {
/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
		position: absolute;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
@media screen and (device-aspect-ratio: 2/3) {
	/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 667/375) {
	/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 16/9) {
	/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 3/4) {
	/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
@media only screen and (device-width : 800px) and (orientation: portrait) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
}
@media only screen and (width : 603px) and (orientation: portrait) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
}
/* Ends up being 13' MacPro */
/*
@media only screen and (device-width : 1280px) and (orientation: landscape) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
}
*/
@media only screen and (width : 961px) and (orientation: landscape) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
}
/*– iPad 1Gen/2Gen iPad Mini, Kindle Fire –*/
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width:1024px) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
}
/*– Nexus 7 (2012)–*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.325) and (max-device-width:1280px) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
	.header #Header .headerSearchContainer #SearchForm input.Textbox#search_query {
/* 		width: 350px; */
	}
}
/*– Nexus 7, Samsung Galaxy Note III, iPad 3 / 4 –*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1920px) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
	.header #Header .headerSearchContainer #SearchForm input.Textbox#search_query {
/* 		width: 350px; */
	}
}
/*– iPad 3Gen/4Gen, –*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:2048px) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
	.header #Header .headerSearchContainer #SearchForm input.Textbox#search_query {
/* 		width: 400px; */
	}
}
/*– Macbook Pro 13″, Samsung Nexus 10 –*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:2560px) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
	.header #Header .headerSearchContainer #SearchForm input.Textbox#search_query {
/* 		width: 400px; */
	}
}
/*– Macbook Pro 15″ –*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:2880px) {
	.header #Header .inner #myAccountTrigger {
		margin: 0 20px;
	}
	.header #Header .headerSearchContainer #SearchForm input.Textbox#search_query {
/* 		width: 400px; */
	}
}
