/* Site Wide to go with new header */
body#home {
/* 	font-family: 'Futura'; */
}
.green {
	color: #39b54a;
}
/* caret arrow down up */
.fa-caret-up:before {
	content: "\f0d8";
}
.fa-caret-down:before {
	content: "\f0d7";
}
/* mobile */
.fa-mobile-phone:before, .fa-mobile:before {
  content: "\f10b";
}
/* envelope */
.fa-envelope:before {
	content: "\f0e0";
}
/* home */
.fa-home:before {
	content: "\f015";
}


/* New Header */
/* Top Header - top section of three section header */
.header {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 4px 8px 0 rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.header .TopMenu {
	background-color: #fff;
	border-top: 0; 
	border-bottom: 3px solid #eeeeee;
	color: #666;
}
.header .TopMenu .inner {
	padding: 0;
	line-height: 30px;
}
.header .TopMenu .inner #loginContainer {
	float: left;
}
.header .TopMenu .inner #loginContainer .loginGreeting a {
	color: #39B54A;
}
.header .TopMenu .inner #loginContainer .loginGreeting a:hover {
	color: #666;
}
.header .TopMenu .inner #newTopMenu {
	color: #777;
	position: relative;
	padding-right: 50px;
	overflow: visible;
}
.header .TopMenu .inner #newTopMenu > li {
	line-height: 30px;
}
.header .TopMenu .inner #newTopMenu li a {
	color:#777;
}
.header .TopMenu .inner #newTopMenu li a:hover {
	color:#39b54a
}
.header .TopMenu .inner #newTopMenu #helpMenuTrigger {
	line-height: 30px;
	box-sizing: border-box;
	position: absolute;
	z-index: 106;
	cursor: default;
}
.header .TopMenu .inner #newTopMenu #helpMenuTrigger.open {
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
	box-shadow: 2px -4px 4px 3px rgba(0,0,0,0.1);
	color: #39B54A;
	z-index: 999 !important;
	line-height: 28px !important;
	padding: 0 9px !important;
}
/*
.header .TopMenu .inner #newTopMenu li#helpMenuTrigger:hover {
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
	box-shadow: 2px -1px 2px 0 rgba(0,0,0,0.1);
	z-index: 999;
}
*/
.header .TopMenu .inner #newTopMenu #helpMenu {
	border: solid 1px #999;
	background-color: #fff;
	box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
	position: absolute;
	top: 28px;
	z-index: 99;
	padding: 4px 4px 13px;
	right: -2px;
	display: none;
}
.header .TopMenu .inner #newTopMenu #helpMenu ul {
	position: static;
	float: none;
	overflow: visible;
}
/*
.header .TopMenu .inner #newTopMenu #helpMenuTrigger:hover #helpMenu {
	display: block;
}
*/
.header .TopMenu .inner #newTopMenu #helpMenu li {
	display: block;
	text-align: center;
	padding: 7px 10px;
	font-size: 15px;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .customerService {
	text-transform: uppercase;
	cursor: default;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .fa-mobile {
	font-size: 28px;
	line-height: 20px;
	vertical-align: middle;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .phoneNumber {
	vertical-align: middle;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .btn {
	height:auto;
	padding: 6px;
	color:#fff;
}
.header .TopMenu .inner #newTopMenu #helpMenu li .btn:hover {
	color:#39b54a;
}





/* Main Header - middle section of three section header */
.header #Header {
	margin: 10px 0;
}
.header #Header .header-logo a img {
	width: 50px;
	height: 50px;
}
.header #Header .header-logo-text {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 4px;
}
.header #Header #LayoutColumn1 {
	display: flex;
}
.header #Header .headerSearchContainer {
	overflow: auto;
}
.header #Header .headerSearchContainer #SearchForm {
	float: left;
	display: block;
/* 	width: 40%; */
	margin: 3px auto;
	border: 2px solid #39B54A;
	border-radius: 3px;
	min-height: 40px;
/* 	margin-left: 130px; */
}
.header #Header .headerSearchContainer #SearchForm form {
	
}
.header #Header .headerSearchContainer #SearchForm input.Textbox#search_query {
	float: none;
	height: auto;
	line-height: 3;
	line-height: 38px;
	font-size: 17px;
	width: 420px;
}
.header #Header .headerSearchContainer #SearchForm .Button {
	float: right;
	height: 40px;
	color: #fff;
	background-color: #39B54A;
	width: 40px;
}
.header #Header .headerSearchContainer #SearchForm .Button:hover {
	background-color: #666;
}
.header #Header .inner #myAccountTrigger {
	display: block;
	font-size: 13px;
/*
	position: absolute;
	top: 4px;
	right: 160px;
*/
	width: 110px;
	margin: 0 30px;
	position: relative;
/* 	padding: 10px 10px 10px 14px; */
/* 	padding: 1px; */
	border: 1px solid transparent;
	border-width: 1px 1px 0 1px;
}
.header #Header .inner #myAccountTrigger .myAccountHi {
	font-size: 12px;
}
.header #Header .inner #myAccountTrigger .myAccountMyDS {
	font-weight: 600;
}
.header #Header .inner #myAccountTrigger .myAccountMyDS .fa-caret.down {
	color: #111 !important;
}
.header #Header .inner #myAccountTrigger #myAccountTriggerLink {
	display: block;
	padding: 10px 10px 10px 14px;
}
.header #Header .inner #myAccountTrigger.open {
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
	box-shadow: 4px -1px 4px -1px rgba(0,0,0,0.1);
	color: #39B54A;
	z-index: 999 !important;
/* 	padding: 9px 9px 10px 13px !important; */
/* 	padding: 0; */
}
.header #Header .inner #myAccountDDMenu {
	border: solid 1px #999;
	background-color: #fff;
	box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
	position: absolute;
	top: 51px;
	z-index: 99;
/* 	padding: 10px 13px; */
	right: -1px;
	font-size: 15px;
	display: none; 
}
.header #Header .inner #myAccountDDMenu ul {
	margin:0;
}
.header #Header .inner #myAccountDDMenu ul li {
	display: block;
	text-align: left;
/* 	height: 27px; */
	line-height: 27px;
	width: 200px;
}
.header #Header .inner #myAccountDDMenu ul li:first-child a {
	padding-top:10px;
}
.header #Header .inner #myAccountDDMenu ul li:last-child a {
	padding-bottom:10px;
}
.header #Header .inner #myAccountDDMenu ul li a {
	width: 100%;
	display: block;
	padding: 0 20px;
	box-sizing: border-box;
}
.header #Header .inner .header-secondary {
	top: 0;
}





/* SubHeader Header - bottom section of three section header */
.header #subHeader {
	background-color: #666;
}
.header #subHeader .inner {
	margin: 0 auto;
	width: 90%;	
	max-width: 1200px;
}
.header #subHeader .inner {
	color: #fff;
	display: table;
}
.header #subHeader .inner .shopByContainer {
/*
	float: left;
	display: table-cell;
*/
	vertical-align: middle;
	height: 40px;
	padding: 0 121px 0 68px;
}
.header #subHeader .inner .shopByContainer i {
	padding: 5px;
}
.header #subHeader .inner .PageMenu ul {
	margin:0;
	display: flex;
	flex-direction: row;
}
.header #subHeader .inner .PageMenu ul li {
	flex-grow: 1;
}
.header #subHeader .inner .PageMenu ul li a {
	font-family: 'Futura';
	text-transform: none;
	line-height: 40px;
	color: #eaeaea;
	display: block;
	padding: 0 !important;
	text-align: center;
}
.header #subHeader .inner .PageMenu ul li:hover {
	background-color: #333;
}
.header #subHeader .inner .PageMenu ul li:hover a {
	color: #fff;
}
.header #subHeader .inner .freeShippingContainer {
/* 	float: right; */
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}
/*
.freeShippingTruck {
	background-image: url('%%ASSET_images/freeshippingtruck.png%%');
	background-position: center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}
*/
.header #subHeader .inner .freeShippingContainer .freeShippingText {
	float: right;
	padding: 0 0 0 47px;
	background-image: url('//cdn3.bigcommerce.com/s-mixi7d/templates/__custom/images/freeshippingtruck.png?t=1429230948');
	background-position: left;
	background-size: 41px 20px;
	background-repeat: no-repeat;
}



.main {
	margin-top: 145px;
}

@media screen and (max-width: 480px) {
/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
@media screen and (max-width: 767px) {
/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
@media screen and (max-width: 768px) {
/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
@media screen and (device-aspect-ratio: 2/3) {/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 40/71) {/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 667/375) {/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 16/9) {/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}

@media screen and (device-aspect-ratio: 3/4) {/* Top Header - top section of three section header */
/* Main Header - middle section of three section header */
	.header #Header {
		margin: 0;
	}
	.header #Header .headerSearchContainer {
		display: none;
	}
	.header #Header .inner #myAccountTrigger {
		display: none;
	}
	.header #Header .inner .header-secondary {
		top: 12px;
	}
/* SubHeader Header - bottom section of three section header */
	#subHeader {
		display:none;
	}
	.header-logo-mobile {
		display: none !important;
	}
}
